  <figure class="{{include.class}}">
    <a href="{{include.show.url}}" class="text--{{include.show.color}}">
      <h3 class=" text--underline">
        {{include.show.title}}
      </h3>
    </a>
    <time>{{include.show.date | date: '%B %-d, %Y' }}</time>
    <p>
      {{include.show.description}}
    </p>

    {% include soundcloud.html soundcloud-url=include.show.soundcloud-url %}

    <a href="{{include.show.url}}" class="text--{{include.show.color}}">
      See show notes →
    </a>
  </figure>
