
// Code styles
code {
    .c, .c1 {
      color: #999999;
    }

    .p {
        color: #515151;
    }

    .s2, .s, .nc {
      color: #99CC99;
    }

    .se {
      color: #99CCCC;
    }

    .k, .nx, .nt, .nl {
      color: #66CCCC;
    }

    .o {
      color: #6699CC;
    }

    .nv, .kd, .na {
      color: #F2777A;
    }
}
