$background-namespace: "bg" !default;

.#{$background-namespace} {
    &--video {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
    }

    &--dark {
        background: color(background-dark);
    }

    &--neutral {
        background: color(background-neutral);
    }

    @each $color, $value in $colors {
        &--#{$color} {
            background: $value;
        }

        &-hover--#{$color} {
            &:hover {
                background: $value;
            }
        }
    }
}
