$margin-namespace: "m" !default;

$margin-sizes: (
  0: 0,
  sm: rem(1),
  md: rem(2),
  lg: rem(3),
  xl: rem(5),
  xxl: rem(10),
  auto: auto,
);

$margin-directions: (
  top: "t",
  bottom: "b"
);

.#{$margin-namespace} {
  &--auto {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  &--0 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  @each $direction, $direction-namespace in $margin-directions {
    &#{$direction-namespace} {
      @each $size, $val in $margin-sizes {
        &--#{$size} {
          margin-#{$direction}: $val;
        }
      }
    }
  }
}
