$padding-namespace: "p" !default;
$padding-verticle: "py" !default;
$padding-horizontal: "px" !default;

$padding-directions: (
    top: "t",
    bottom: "b",
);

$padding-sizes: (
  0: 0,
  xs: rem(.5),
  sm: rem(1),
  md: rem(2),
  lg: rem(3),
  xl: rem(5),
  xxl: rem(10),
);

.#{$padding-namespace} {
  @each $size, $size-val in $padding-sizes {
    &--#{$size} {
      padding: $size-val;
    }

    @each $direction, $dir-namespace in $padding-directions {
      &#{$dir-namespace}--#{$size} {
        padding-#{$direction}: $size-val;
      }
    }
  }

  &--reset {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    &-md {
      @include screen(md) {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}

.#{$padding-verticle} {
  @each $size, $size-val in $padding-sizes {
    &--#{$size} {
      padding-top: $size-val;
      padding-bottom: $size-val;
    }
  }
}

.#{$padding-horizontal} {
  @each $size, $size-val in $padding-sizes {
    &--#{$size} {
      padding-left: $size-val;
      padding-right: $size-val;
    }
  }
}
