$speed: (
  slow: 3s,
  base: 1s,
  fast: .3s,
  faster: .15s,
  fastest: .1s,
  light: 0s,
);

$easing: (
    out: ease-out,
    in-out: ease-in-out,
    cubic: cubic-bezier(0,1.22,1,1),
    cubic2: cubic-bezier(0,0,.26,.93),
);

@function transition($spd, $ease,  $delay: light) {
    @return map-get($speed, $spd) map-get($easing, $ease) map-get($speed, $delay);
}

.trans-all--fast-in-out {
    transition: all transition(fast, in-out);
}
