---
layout: with-nav
---

<header class="article-header bg--{{page.color}} pb--xxl text--light">
    <div class="mw--95-90 m--auto pt--xxl">
        <h1 >{{page.title}}</h1>
        <p>
          {{page.description}}
        </p>
        <time class="text--light">
            {{page.date | date: '%B %-d, %Y' }}
            {% unless page.hide-time %}
              •&nbsp;{{ content | reading_time_as_i }}
            {% endunless %}
        </time>
    </div>
</header>

<div class="markdown pb--sm">
  <div class="pt--xl">
    <div class="shadow--lg">
      {% include soundcloud.html soundcloud-url=page.soundcloud-url%}
    </div>
  </div>

  <!-- Page content -->
  <div class="pt--xl">
      {{ content }}
  </div>

  <!-- Author link -->
  <!-- Twitter share 😉 -->
  <div class="text--center text--lora pt--lg pb--lg flex">
      <div class="flex__box--sm flex__box--gutter">

          {% if page.previous.url %}
              <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          {% endif %}
      </div>
      <div class="flex__box--sm flex__box--gutter flex flex--space-between">
           |
          <a href="https://twitter.com/home?status={{page.title}}%20{{site.url}}/{{page.url}}%20via%20@devanIpsum" class="twitter-share-button" data-size="large" data-via="devanIpsum" data-show-count="false">Tweet This</a> |
      </div>
      <div class="flex__box--sm flex__box--gutter">
        {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>
  </div>

  <div class="pb--lg">
    {% include scripts/disqus.html %}
  </div>
</div>
